<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    {% endblock %}
  </head>
  <body>
  
    <div class="container page">
        <div class="content">
        <div class="jumbotron">
            <h1>{% block pagetitle %}{% endblock %}</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {# <ul class="flashes"> #}
                        {% for category, message in messages %}
                            {# <li class="{{ category }}">{{ message }}</li> #}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {# </ul> #}
                {% endif %}
            {% endwith %}
            
              {% block content %}
              {% endblock %}
            </div>
        </div>
        <hr>
        {% block footer %}
        <footer class="footer">
            <p>
                For demonstration purposes only. Any entered data might be
                easily accessible to anyone, and might be lost with no notice.
                Uses <a href="https://github.com/nathforge/pyotp">pyotp</a> and
                <a href="https://pypi.python.org/pypi/qrcode">qrcode</a>.
            </p>
            <p>&copy; Sahand Saba - 2013</p>
        </footer>
        {% endblock %}
    </div>
    {% block js_footer %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>
